[desktop_path]
path1 = C:\Users\User\Desktop\

[installation_dir]
path1 = C:\Users\User\Desktop\Osdag_windows_installer_v2018.06.a.3839\Osdag\

[wkhtml_path]
path1 = C:\Program Files (x86)\wkhtmltopdf\bin\wkhtmltopdf.exe

[default_workspace]
path1 =C:\Users\User\Desktop\Osdag IITB\Cloned\osdag_workspace